@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject MenuComponent MenuComponent

<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
        <a class="navbar-item">
            <img src="/assets/img/pacco.jpg" width="130" height="30" />
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">                     
           <a class="navbar-item" @onclick="@(() => Navigate("orders"))">Order</a>
           <a class="navbar-item" @onclick="@(() => Navigate("parcels"))">Parcels</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button @CssClassSecondary" @onclick="@(() => Navigate("sign-up"))">Sign up</button>
                    <button class="button @CssClassPrimary" @onclick="@(() => Navigate("sign-in"))">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</nav>

@functions
{
        const string CssClassSecondary = "is-light";
        const string CssClassPrimary = "is-warning";
    
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}